# Server Environment Variables
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dev_db
BETTER_AUTH_SECRET=your-very-secure-and-long-secret-key
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
RESEND_API_KEY=your-resend-api-key
EMAIL_FROM=noreply@yourdomain.com
EMAIL_FROM_NAME="your app name"

# Client Environment Variables
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000